@import '../../../styles/variables.module.scss';

.solucion{
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
    gap: 2.5rem;
    @include breakpoint(widescreen){
        gap: 3rem;
        flex-direction: row;
        margin: 7rem auto;
    }
    &_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 1.5rem;
        gap: 2rem;
        @include breakpoint(widescreen){
            max-width: 30rem;
        }

        &_titulo{
            text-align: center;
            font-family: "Tiempos Headline Medium";
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.75rem;
            @include breakpoint(widescreen){
                text-align: start;
                font-size: 2.8rem;
                line-height: 3.5rem
            }
        }

        &_texto{
            text-align: center;
            font-family: "Montserrat Medium";
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            max-width: 950px;
            @include breakpoint(widescreen){
                text-align: start;
                font-size: 1.05rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.6rem;
            }
        }

        &_imagenes {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & img{
                width: 100%;
                @include breakpoint(widescreen){
                    width: 100%;
                }
            }
        }
        
        

    }

    &_container2{
        background: var(--500---BG-page, #F4F2FA);
        max-width: 32rem;
        border-radius: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0 1.5rem;
        padding: 1rem;
        @include breakpoint(widescreen){
            align-items: start;
            gap: 1.5rem;
            padding: 2rem;
        }
        &_title{
            font-family: "Tiempos Headline Regular";
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @include breakpoint(widescreen){
                font-size: 2.5rem;
            }
        }
        &_text{
            font-family: "Montserrat Regular";
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 150%;
            @include breakpoint(widescreen){
                font-size: 1.125rem;
            }
        }
    }
}
