@import "../../../styles/variables.module.scss";

.hero {
    margin-bottom: map-get($margin , mobile);

    @include breakpoint(widescreen) {
        margin-bottom: map-get($margin , widescreen);
    }
    &_container {
        padding-left: map-get($padding, mobile);
        padding-right: map-get($padding, mobile);
        display: flex;
        flex-direction: column;

        @include breakpoint(widescreen) {
            flex-direction: row;
            margin-left: auto;
            margin-right: auto;
            padding-left: map-get($padding, widescreen);
            padding-right: map-get($padding, widescreen);
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            max-width: map-get($breakpoint, max);
        }

        &_left {
            @include breakpoint(widescreen) {
                width: 50%;
            }

            &_title {
                text-align: center;
                font-weight: 500;
                font-size: 28px;
                line-height: 32px;
                font-family: "Tiempos Headline Medium";
                margin-bottom: 16px;
                &_span{
                    color: map-get($color , accent );
                    font-family: "Tiempos Headline Bold";
                }

                @include breakpoint(widescreen) {
                    text-align: start;
                    font-weight: 500;
                    font-size: 50px;
                    line-height: 76px;
                    margin-bottom: 24px;

                }

                @include breakpoint(max) {
                    font-size: 64px;

                }
            }

            &_description {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 24px;
                text-align: center;
                font-family: "Montserrat Medium";
                @include breakpoint(widescreen) {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: start;
                    margin-bottom: 32px;

                }
            }

            &_ctn {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                margin-bottom: 24px;

                @include breakpoint(widescreen) {
                    flex-direction: row;
                    gap: 32px;
                }

                &_services {
                    button {
                        background-color: map-get($color, accent);
                        color: map-get($color, white);
                        width: 190px;
                        height: 36px;
                        border-radius: 4px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;

                        @include breakpoint(widescreen) {
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 24px;
                            width: 149px;
                            height: 56px;
                        }
                    }
                }

                &_contact {
                    button {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        background-color: map-get($color, white);
                        width: 190px;
                        height: 36px;
                        border-radius: 4px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;

                        @include breakpoint(widescreen) {
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 24px;
                            width: 142px;
                            height: 40px;
                        }
                    }
                }
            }

            &_certifications {
                display: none;

                margin-top: 37px;

                @include breakpoint(widescreen) {
                    display: block;
                }

                &_desc {
                    text-align: start;
                    margin-bottom: 24px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                }

                &_logos {
                    display: flex;
                    justify-content: start;
                    gap: 48px;
                }
            }
        }

        &_right {
            @include breakpoint(widescreen) {
                width: 50%;
            }

            &_img {
                text-align: center;

                & img {

                    width: 288px;
                    height: 289px;
                    @include breakpoint(widescreen) {
                        width: 100%;
                        height: auto;
                    }
                    @include breakpoint(max) {
                        width: 613px;
                        height: 617px;
                        
                    }
                }
            }

            &_certifications {
                margin-top: 37px;

                @include breakpoint(widescreen) {
                    display: none;
                }

                &_desc {
                    text-align: center;
                    margin-bottom: 24px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                }

                &_logos {
                    display: flex;
                    justify-content: center;
                    gap: 48px;

                    &_sf {}
                }
            }
        }
    }
}