@import "../../styles/variables.module.scss";
@import "../../styles/mixins.module.scss";

.section{
    font-family: "Montserrat Regular";
    background: #DCDCDC;

    &_container{
        margin: map-get($margin, mobile) 1rem;
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include breakpoint(widescreen) {
            margin: map-get($margin, widescreen) auto;
            max-width: 1600px;
        }

        &_title{
            text-align: center;
            font-family: "Tiempos Headline Bold";
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
            @include breakpoint(widescreen) {
                margin-bottom: 3rem;
                font-size: 3rem;
            }
        }

        &_cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            &_card{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                background: #FFFFFF;
                border: 0.2px solid #B3B3C2;
                box-shadow: 0px 14px 24px rgba(0, 0, 51, 0.04);
                border-radius: 16px;
                width: 280px;
                height: 240px;
                padding: 1rem;
                margin: 1rem 0.3rem;
                @include breakpoint(widescreen) {
                    width: 400px;
                    padding: 1rem 1.5rem;
                    margin: 1rem 0.5rem;
                }

                &_imagen{
                    width: 30px;
                }

                &_dato{
                    font-family: "Montserrat Bold";
                    font-size: 1rem;
                    @include breakpoint(widescreen) {
                        font-size: 1.3rem;
                    }
                }
            
                &_texto{
                    font-size: 0.8rem;
                    line-height: 24px;
                    color: #4D4D70;
                    @include breakpoint(widescreen) {
                        font-size: 1rem;
                    }
                }

                &_boton{
                    scroll-behavior: smooth;
                    display: flex;
                    gap: 1rem;
                    font-size: 0.8rem;
                    cursor: pointer;
                    background-color: none;
                    &_texto{
                        font-size: 0.9rem;
                        font-weight: bold;
                        @include breakpoint(widescreen) {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}
