@import "../../styles/variables.module.scss";

.region {
    background-color: map-get($color, accent);
    // padding-top: 17px;
    position: relative;
    // padding-top: 76px;
    margin-bottom: map-get($margin , mobile);

    @include breakpoint(widescreen) {
        margin-bottom: map-get($margin , widescreen);
    }
    @include breakpoint(widescreen) {
        padding-top: 0px;

    }

    &_title {
        color: map-get($color, white);
        text-align: center;
        font-family: "Tiempos Headline Medium";
        font-size: 24px;
        line-height: 28px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3px;
        position: absolute;
        z-index: 2;
        top: 17px;
        left: 50%;
        transform: translate(-50%);

        @include breakpoint(widescreen) {
            font-size: 48px;
            line-height: 56px;
            width: 100%;
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translate(-50%);
            z-index: 2;
        }

    }

    &_container {
        text-align: center;
        

        &_mobile {
            @include breakpoint(widescreen) {
                display: none;
            }
            @media screen and (min-width: 350px) {
                width: 380px;
                height: 500px;
            }
            @media screen and (min-width: 400px) {
                width: 380px;
                height: 550px;
            }
            
            
        }

        &_desktop {
            display: none;

            @include breakpoint(widescreen) {
                display: inline-block;
                // position: absolute;
                // top: 0;
                // left: 0;
                // width: 90%;
            }
        }
    }
}

// .blur_1 {
//     position: absolute;
//     z-index: 1;
//     top: 0;
//     width: 100%;
//     height: 50px;

//     @include breakpoint(widescreen) {
//         height: 200px;

//     }

//     background: linear-gradient(180deg, #100FA8 0%, rgba(10, 41, 205, 0.481649) 58.18%, rgba(10, 41, 205, 0) 100%);
// }

// .blur_2 {

//     position: absolute;
//     z-index: 1;
//     bottom: 0;
//     width: 100%;
//     height: 50px;

//     @include breakpoint(widescreen) {
//         height: 200px;

//     }

//     background: linear-gradient(0deg, #100FA8 0%, rgba(10, 41, 205, 0.481649) 58.18%, rgba(10, 41, 205, 0) 100%);
// }