@import "../../styles/variables.module.scss";

.content {
  margin-bottom: map-get($margin , mobile);

  @include breakpoint(widescreen) {
      margin-bottom: map-get($margin , widescreen);
  }

  &_heading {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    font-family: 'Tiempos Headline Medium';

    @include breakpoint(widescreen) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &_container {
    padding-left: map-get($padding, mobile);
    padding-right: map-get($padding, mobile);
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin: 0 auto;
    overflow: scroll;

    @include breakpoint(widescreen) {
      padding-left: map-get($padding, widescreen);
      padding-right: map-get($padding, widescreen);
      max-width: map-get($breakpoint, max);
      margin-left: auto;
      margin-right: auto;
      justify-content:center;
      overflow: unset;
      gap: 32px;

    }

    &_swiper_button {
      position: absolute;
      bottom: 40px;
      z-index: 10;
      cursor: pointer;
      color: map-get($color, accent);

      @include breakpoint(widescreen) {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      @include breakpoint(max) {
        bottom: 128px;
      }

      &_span {
        display: none;
        font-family: "Montserrat Bold";

        @include breakpoint(widescreen) {
          font-size: 18px;
          display: block;
        }
      }
    }
  }
}
