@import '../../../styles/variables.module.scss';

.solucion{
    width: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    &_container{
        background: var(--500-bg-page, #F4F2FA);
        margin: 0 1rem;
        padding: 2rem 1rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2.5rem;
        @include breakpoint(widescreen){
            padding: 3rem 6rem;
            gap: 1rem;
        }

        &_top img{
            width: 100%;
        }

        &_main{
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            width: 100%;
            @include breakpoint(widescreen){
                flex-direction: row;
                max-width: 700px;
                gap: 3rem;
            }

            

            &_titulo{
                width: 95%;
                text-align: center;
                font-family: "Tiempos Headline Medium";
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.75rem;
                @include breakpoint(widescreen){
                    width: 90%;
                    align-self: start;
                    text-align: start;
                    font-size: 2.8rem;
                    line-height: 3.5rem
                }
            }

            &_descripcion{
                display: flex;
                flex-direction: column;
                font-family: "Montserrat Medium";
                text-align: start;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                gap: 1rem;
                @include breakpoint(widescreen){
                    gap: 1.5rem;
                    text-align: start;
                    font-size: 1.125rem;
                    font-weight: 500;
                    line-height: 150%;
                }
            }

        }

    }
}
