@import "../../styles/variables.module.scss";

.solutions {
    background-color: map-get($color , white);
    color: black;
    margin-top: map-get($margin , mobile);
    margin-bottom: map-get($margin , mobile);

    @include breakpoint(widescreen) {
        margin-top: map-get($margin , widescreen);
        margin-bottom: map-get($margin , widescreen);
    }

    &_container {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        padding-left: map-get($padding, mobile);
        padding-right: map-get($padding, mobile);

        @include breakpoint(widescreen) {
            padding-left: map-get($padding, widescreen);
            padding-right: map-get($padding, widescreen);
            max-width: map-get($breakpoint, max);
            margin-left: auto;
            margin-right: auto;
            gap: 2%;
            row-gap: 25px;
        }

        &_solution {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2rem;
            width: 100%;
            position: relative;

            @include breakpoint(widescreen) {
                flex-direction: row;
                width: 100%;
            }

            &_imagen {
                width: 280px;
                
                @include breakpoint(widescreen) {
                    width: 35%;
                }
            }

            &_title {
                font-size: 16px;
                line-height: 20px;
                font-family: "Montserrat Bold";

                @include breakpoint(widescreen) {
                    font-size: 40px;
                    line-height: 48px;
                }
            }

            &_desc {
                font-family: "Montserrat Medium";
                font-size: 12px;
                line-height: 16px;
                margin-top: 16px;
                margin-bottom: 70px;

                @include breakpoint(widescreen) {
                    font-size: 25px;
                    line-height: 35px;
                    margin-bottom: 90px;
                    width: 35%;
                }
            }

            &_ctn {
                display: flex;
                gap: 16px;
                align-items: center;
                margin-bottom: 16px;
                position: absolute;
                bottom: 0;

                @include breakpoint(widescreen) {
                    gap: 32px;

                }

                &_talk {
                    border: 1px solid map-get($color , white);
                    border-radius: 4px;
                    padding: 8px 16px;
                    font-family: "Montserrat Medium";
                    font-size: 14px;
                    line-height: 20px;

                    @include breakpoint(widescreen) {
                        font-size: 18px;
                        line-height: 24px;
                    }

                }

                &_more {
                    display: flex;
                    align-items: center;
                    gap: 39px;
                    padding: 8px 0px;
                    font-family: "Montserrat Medium";
                    font-size: 14px;
                    line-height: 20px;

                    @include breakpoint(widescreen) {
                        font-size: 18px;
                        line-height: 24px;
                        gap: 7px;

                    }

                }
            }

            &_hr {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: map-get($color , white);
            }
        }

        &_filters {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            border-bottom: 1px solid map-get($color , white);
            justify-content: center;
            width: 100%;
            margin-bottom: 30px;
            background-color: accent;
            @include breakpoint(widescreen) {
                gap: 30px;
            }
            @include breakpoint(max) {
                gap: 105px;
            }


            &_filter {
                color: map-get($color , black);
                cursor: pointer;
                border-radius: 16px;
                padding: 3px 20px;
                font-size: 18px;
                line-height: 25px;
                font-family: 'Tiempos Headline Regular';

                @include breakpoint(widescreen) {
                    font-size: 30px;
                    line-height: 40px;
                    border-radius: 16px;
                    padding: 3px 33px;
                }
            }
        }
    }

    &_title {
        font-family: "Tiempos Headline Medium";
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 48px;

        @include breakpoint(widescreen) {
            font-size: 48px;
            line-height: 56px;
            margin-bottom: 85px;
        }

    }
}

.active {
    background-color: map-get($color, accent );;
    color: white
}