@import "../../../styles/variables.module.scss";

.card {

    &_container {

        &_card {
            min-width: 240px;
            border: 0.5px solid map-get($color, 'disabled');
            padding: 16px;
            height: 180px;
            box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.15);
            border-radius: 16px;
            
            @include breakpoint(widescreen) {
                width: 100%;
                padding: 24px;
                height: 240px;
            }
            @include breakpoint(max) {
                height: 240px;
            }
            &_image {
                display: flex;
                justify-content: center;
                align-items: center;

                & img {
                    width: 24px;
                    height: 24px;
                    margin-bottom: 8px;
    
                    @include breakpoint(widescreen) {
                        width: 40px;
                        height: 40px;
                        margin-bottom: 16px;
    
                    }
                }
            }
            
            
            

            &_title {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Montserrat Bold';
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 8px;

                @include breakpoint(widescreen) {
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 16px;
                }
            }

            &_description {
                text-align: center;
                font-family: 'Montserrat Medium';
                font-size: 14px;
                line-height: 20px;

                @include breakpoint(widescreen) {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
    }
    @include breakpoint(tablet) {
        width: calc(100%/3);
    }
}