@import '/styles/variables.module.scss';

@font-face {
  font-family: "Montserrat Regular";
  font-weight: 400;
  src: local("Montserrat Regular"),
    url(../public/fonts/montserrat/Montserrat-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Montserrat Bold";
  font-weight: 700;
  src: local("Montserrat Bold"),
    url(../public/fonts//montserrat/Montserrat-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Montserrat Medium";
  font-weight: 500;
  src: local("Montserrat Medium"),
    url(../public/fonts//montserrat/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Tiempos Headline Regular";
  font-weight: 400;
  src: local("Tiempos Headline Regular"),
    url(../public/fonts/tiemposheadline/TiemposHeadline-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Tiempos Headline Medium";
  font-weight: 500;
  src: local("Tiempos Headline Medium"),
    url(../public/fonts/tiemposheadline/TiemposHeadline-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Tiempos Headline Bold";
  font-weight: 500;
  src: local("Tiempos Headline Bold"),
    url(../public/fonts/tiemposheadline/TiemposHeadline-Bold.woff) format("woff");
}

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat Regular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

button {
  outline: none;
  border: none;
}
@import "../components/Contact/Contact.module.scss";

//home
.swiper-pagination-home {
  position: absolute;
  bottom: 22px !important;
  left: 50% !important;
  transform: translateX(-50%);
  width: auto !important;
  z-index: 9;

  @include breakpoint(widescreen) {
    bottom: 64px !important;
  }
}

//global bullets
.swiper-pagination-bullet {
  background-color: white !important;
  width: 24px !important;
  height: 4px !important;
  border-radius: 4px !important;

  @include breakpoint(widescreen) {
    bottom: 58px !important;
    width: 54px !important;
    height: 8px !important;
  }

}

//global disabled
.swiper-button-disabled {
  opacity: 0.5;
}



//casos de exito
.swiper-pagination-cde {
  position: absolute;
  bottom: 48px !important;
  left: 50% !important;
  transform: translateX(-50%);
  width: auto !important;
  z-index: 9;
  @include breakpoint(max) {
    bottom: 128px !important;
  }
}