$color: (
    accent: #100FA8,
    white: #FFFFFF,
    ) !default;

$breakpoint: (
    small-mobile: 340px,
    mobile: 768px,
    tablet: 992px,
    desktop: 1200px,
    widescreen: 1281px,
    xl-screen: 1400px,
    max: 1538px,
);

$padding:(
    mobile:16px,
    widescreen:144px
);

// Breakpoints
@mixin breakpoint($point) {

    /* Between 0 and 768px */
    @if $point ==mobile {

        /* stylelint-disable-next-line */
        @media only screen and (max-width: map-get($breakpoint, mobile)) {
            @content;
        }
    }

    /* At least 769px*/
    @if $point ==tablet {

        /* stylelint-disable-next-line */
        @media only screen and (min-width: map-get($breakpoint, mobile) + 1) {
            @content;
        }

    }

    /* Between 769px and 1200px */
    @if $point ==tablet-desktop {


        /* stylelint-disable-next-line */
        @media only screen and (min-width: map-get($breakpoint, mobile) + 1) and (max-width: map-get($breakpoint, desktop)) {
            @content;
        }

    }

    /* Between 769px and 992px */
    @if $point ==tablet-only {


        /* stylelint-disable */
        @media only screen and (min-width: map-get($breakpoint, mobile) + 1) and (max-width: map-get($breakpoint, tablet)) {
            @content;
        }


    }

    /* At least 993px */
    @if $point ==desktop {

        /* stylelint-disable-next-line */
        @media only screen and (min-width: map-get($breakpoint, tablet) + 1) {
            @content;
        }

    }

    /* At least 1200px */
    @if $point ==widescreen {
        /* stylelint-disable-next-line */
        @media only screen and (min-width: map-get($breakpoint, desktop)) {
            @content;
        }

    }

    @if $point ==xl {
        /* stylelint-disable-next-line */
        @media only screen and (min-width: map-get($breakpoint, xl-screen)) {
            @content;
        }

    }
    @if $point ==max{
        /* stylelint-disable-next-line */
        @media only screen and (min-width: map-get($breakpoint, max)) {
            @content;
        }

    }

}